

{# <iframe id="terriajs-iframe" src="{{config_view.terriajs_url}}?clean" style="height: 600px; width: 100%; border: none;" allowFullScreen mozAllowFullScreen webkitAllowFullScreen/>#}

<script type="text/javascript">
    function copy(self, event, text) {
        event.preventDefault();
        var tmp = document.createElement("textarea");
        tmp.value = text;
        tmp.style.height = "0";
        tmp.style.overflow = "hidden";
        tmp.style.position = "fixed";
        document.body.appendChild(tmp);
        tmp.focus();
        tmp.select();
        document.execCommand("copy");
        document.body.removeChild(tmp);
    }
 </script>


{% block jsonchema_view_body %}

    {% set config_url = h.url_for('terriajs.config', resource_view_id=resource_view.id, _external=True) %}
    {% set config_enabled_url = h.url_for('terriajs.config_enabled', resource_view_id=resource_view.id, _external=True) %}
    {% set item_url = h.url_for('terriajs.item', resource_view_id=resource_view.id, _external=True) %}
    
    {% set iframe_url_config = h.jsonschema_get_view_opt(resource_view)['terriajs_url'] + '?clean=True&noBanner=1&' + h.jsonschema_url_quote(config_url) %}
    {% set iframe_url_config_enabled = h.jsonschema_get_view_opt(resource_view)['terriajs_url'] + '?clean=True&noBanner=1&' + h.jsonschema_url_quote(config_enabled_url) %}


    {% if c.userobj and h.check_access('resource_show', {'id': resource['id']})  %}
        
        <button class="btn-view btn btn-info" onclick="copy(this, event, '{{config_url}}')" data-toggle="tooltip" data-placement="top" title="{% trans %}Copy the URL of the entire map view configuration.{% endtrans %}">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            {{_("Catalog URL")}}
        </button>

        <button class="btn-view btn btn-primary" onclick="copy(this, event, '{{item_url}}')" data-toggle="tooltip" data-placement="top" title="{% trans %}Copy the URL of the configuration of the catalog item.{% endtrans %}">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            {{_("Catalog Item URL")}}
        </button>
        {% set resource_view_url = h.url_for('resource_view', id=package['name'], resource_id=resource['id'],view_id=resource_view['id'], qualified=True) %}
        <a class="btn-view btn btn-default"
            href="#embed-{{ resource_view['id'] }}"
            data-module="resource-view-embed"
            data-toggle="tooltip" data-placement="top" title="{% trans %}Click on this button to copy a URL to embed this map in another application.{% endtrans %}"
            data-module-id="{{ resource_view['id'] }}"
            data-module-url="{{resource_view_url }}">
            <i class="fa fa-code"></i>
            {{ _("Embed") }}
        </a>

        <a class="btn-view btn btn-default" target="_blank"
            href="{{ iframe_url_config_enabled }}">
            <i class="fa fa-arrows-alt"></i>
            {{ _("Fullscreen") }}
        </a>
    {% endif %}
    
    <div style="display:block; width: auto; height: auto;">
        {% if resource_view.jsonschema_type == 'group' or resource_view.jsonschema_type == 'terriajs-group' %}
        <iframe style="display: block;width: 100%; height: 100%; min-height: 94vh;" src="{{iframe_url_config}}" allowFullScreen mozAllowFullScreen webkitAllowFullScreen/>
        {% else %}
        <iframe style="display: block;width: 100%; height: 100%; min-height: 94vh;" src="{{iframe_url_config_enabled}}" allowFullScreen mozAllowFullScreen webkitAllowFullScreen/>
        {% endif %}
    </div>

{% endblock %}
